<footer>
    <div id="copyright" class="container">
        <p th:utext="#{copyright}"></p>
        <p>Powered by <a href="http://www.apereo.org/cas">
            Apereo Central Authentication Service
            <span th:text="${T(org.apereo.cas.util.CasVersion).getVersion()}"></span>
            <span th:text="${T(org.apereo.cas.util.CasVersion).getDateTime()}"></span> </a>
        </p>
    </div>

    <div id="page-footer">
        <div class="content row">

            <div class="col-xs-12 col-sm-6" id="col-1">
                <img src="images/logo-plos-footer.png" alt="PLOS Logo" />

                <div class="nav nav-aux">
                    <a class='muted' href="https://www.plos.org/about/privacy-policy/">Privacy Policy</a> |
                    <a class='muted' href="https://www.plos.org/about/terms-use/">Terms of Use</a> |
                    <a class='muted' href="https://www.plos.org/advertise/">Advertise</a> |
                    <a class='muted' href="https://www.plos.org/about/media-inquiries/">Media Inquiries</a>
                </div>
            </div>

            <div id="col-2" class="col-xs-6 col-sm-3" >
                <a href="https://www.plos.org/publications/journals/">Publications</a>
                <p>
                <ul id='journals' class="list-unstyled">
                    <li><a href="http://plosone.org" class="muted">PLOS ONE</a> </li>
                    <li><a href="http://journals.plos.org/plosbiology/" class="muted">PLOS Biology</a> </li>
                    <li><a href="http://journals.plos.org/ploscompbiol/" class="muted">PLOS Computational Biology</a> </li>
                    <li><a href="http://journals.plos.org/plosgenetics/" class="muted">PLOS Genetics</a> </li>
                    <li><a href="http://journals.plos.org/plosmedicine/" class="muted">PLOS Medicine</a> </li>
                    <li><a href="http://journals.plos.org/plosntds/" class="muted">PLOS Neglected Tropical Diseases</a> </li>
                    <li><a href="http://journals.plos.org/plospathogens/" class="muted">PLOS Pathogens</a> </li>
                    <li><a href="http://currents.plos.org" class="muted">PLOS Currents</a> </li>
                </ul>
                </p>
            </div>

            <div id="col-3" class="col-xs-6 col-sm-3">
                <a href="https://www.plos.org">plos.org</a>
                <a href="http://blogs.plos.org">Blogs</a>
                <a href="http://www.ploscollections.org">Collections</a>
                <a href="https://www.plos.org/contact">Send us feedback</a>
            </div>

        </div>
    </div>
</footer>
